@font-face {
    font-family: "georgia-bold";
    /* Имя шрифта */
    src: url('../fonts/Georgia-Bold.woff') format("woff"), url('../fonts/Georgia-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "helvetica-neue-bold";
    /* Имя шрифта */
    src: url('../fonts/HelveticaBold.woff') format("woff"), url('../fonts/HelveticaBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "FontAwesome";
    /* Имя шрифта */
    src: url('../fonts/fontawesome-webfont.woff') format("woff"), url('../fonts/fontawesome-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "helvetica-neue-light";
    /* Имя шрифта */
    src: url('../fonts/HelveticaLight.woff') format("woff"), url('../fonts/HelveticaLight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "helvetica-neue-regular";
    /* Имя шрифта */
    src: url('../fonts/helvetica-neue-regular.woff') format("woff"), url('../fonts/helvetica-neue-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


 

